* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Metropolish1";
  src: url("fonts/Metropolis-Black.otf") format(opentype);
}

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis-Bold.otf") format(opentype);
}

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis-SemiBold.otf") format(opentype);
}

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis-SemiBold.otf") format(opentype);
}

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis-Medium.otf") format(opentype);
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f5f5;
  --text-color: #010101;
  --text-color-light: #999999;
  --text-color-dark: #343434;
  --text-color-dark2: #363940;
  --cta-image: #ed017f;
}

a {
  text-decoration: none;
  max-width: 100%;
  display: inline-block;
}

ul li {
  list-style: none;
}

p {
  font-family: "Metropolis";
  font-size: 16px;
  line-height: 1.56;
  font-weight: 500;
  color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

h1 {
  font-family: "Metropolish1";
  font-size: 56px;
  font-weight: 900;
  line-height: 1.19;
  max-width: 435px;
  color: var(--text-color);
}

h2,
.h2-title {
  font-family: "Metropolis";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--text-color-dark);
}

h3,
.h3-title {
  font-family: "Metropolis";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--text-color-dark);
}

h4,
.h4-title {
  font-family: "Metropolis";
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-color-dark2);
}

h5,
.h5-title {
  font-family: "Metropolis";
  font-size: 21px;
  font-weight: 600;
  line-height: 1.66;
  color: var(--text-color-dark);
}

h6,
.h6-title {
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  color: var(--text-color-light);
}
figure {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
span {
  text-transform: uppercase;
  font-size: 24px;
}
.container {
  max-width: 1398px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col20 {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 15px;
}
.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}
.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}

.col60 {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}
header {
  padding-top: 24px;
}
.navigation,
.navlinks {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  max-width: 100%;
  height: auto;
  display: block;
}
.navlinks li {
  margin-right: 42px;
  letter-spacing: 2px;
}
.navlinks a {
  color: var(--text-color);
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.navlinks a:hover {
  color: var(--cta-image);
}
.headerbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cmn-btn {
  display: inline-block;
  text-align: center;
  font-family: "Metropolis";
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: var(--cta-image);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: all 0.3s ease-in;
}
.cmn-btn:hover {
  background-color: var(--secondary-color);
  color: var(--cta-image);
  border: 1px solid var(--cta-image);
}
.cmn-btn span {
  font-size: 20px;
}
.search-icon i {
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  font-size: 24px;
}
.fa-magnifying-glass {
  color: #ed017f;
}

/*  */
/* banner section  */
.banner {
  margin-bottom: 100px;
}
.banner .row {
  align-items: center;
}
.col40 h1 {
  min-width: 436px;
  margin-bottom: 22px;
}
.col40 p {
  max-width: 380px;
  margin-bottom: 22px;
}
.banner-btn {
  margin-bottom: 51px;
}
.banner-contact a {
  align-items: center;
}
.ban-btn1 {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 24px;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 4px;

  background-color: var(--cta-image);
  color: var(--primary-color);
  border: 1px solid var(--cta-image);
  transition: all 0.3s ease-in;
}
.ban-btn1:hover {
  background-color: var(--secondary-color);
  color: var(--cta-image);
  border: 1px solid var(--cta-image);
}
.ban-btn2 {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 24px;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 4px;

  background-color: var(--secondary-color);
  color: var(--cta-image);
  border: 1px solid var(--cta-image);
  transition: all 0.3s ease-in;
}
.ban-btn2:hover {
  background-color: var(--cta-image);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.banner-contact {
  display: flex;
  align-items: center;
}
.banner-icon {
  padding-left: 12px;
  margin-left: 48px;
  border-left: 1px solid var(--text-color-light);
}

.banner-icon a {
  margin-right: 12px;
  font-size: 24px;
}

.fa-linkedin {
  color: #4a71fb;
}
.fa-linkedin:hover {
  transform: scale(1.2);
}

.fa-facebook-f {
  color: #4b7fcd;
}
.fa-facebook-f:hover {
  transform: scale(1.2);
}
.fa-youtube {
  color: #ff0000;
}
.fa-youtube:hover {
  transform: scale(1.2);
}
.fa-instagram {
  color: #ed017f;
}
.fa-instagram:hover {
  transform: scale(1.2);
}
.contact-no img {
  margin-right: 12px;
}
.contact-no img:hover {
  transform: scale(1.2);
}
.contact-no {
  display: flex;
  align-items: center;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}
.contact-no img:hover {
  transform: scale(1.1);
}
.contact-no img {
  margin-right: 16px;
}
.banner-img {
  position: relative;
}
.carlone {
  position: absolute;
  top: 40px;
  left: 90px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0.2, 0.1, 0.1, 0.2);
  transition: all 0.3s ease-in;
}
.carlone:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px rgba(0, 0.1, 0.1, 0.5);
}
.carlone img {
  margin-right: 10px;
}
.carlone h5 {
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.56;
  color: var(--text-color-dark);
}
.homelone {
  position: absolute;
  top: 150px;
  left: 600px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in;
}
.homelone img {
  margin-right: 10px;
}
.homelone h5 {
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.56;
  color: var(--text-color-dark);
}
.homelone:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px rgba(0, 0.1, 0.1, 0.5);
}

/*  */

/* customer experience */
.Customer-Exp {
  padding-bottom: 114px;
}
.Customer-Exp-text {
  justify-content: center;
  text-align: center;
}
.Customer-Exp-text h2 {
  margin-bottom: 18px;
}
.Customer-Exp-text p {
  display: inline-block;
  justify-content: center;
  text-align: center;
  max-width: 622px;
  margin-bottom: 110px;
}
.valu-item {
  margin-bottom: 55px;
  margin-left: 60px;
  transition: all 0.6s ease-in-out;
}
.valu-item img {
  padding-bottom: 15px;
}
.valu-item h3 {
  margin-bottom: 12px;
}
.valu-item {
  max-width: 180px;
  font-size: 14px;
  line-height: 1.7;
}
.valu-item :hover {
  color: #ed017f;
}

/* ------------ */
/* our secvice */

.our-service {
  padding-bottom: 63px;
}
.our-service-title {
  justify-content: center;
  text-align: center;
}
.our-service h2 {
  margin-bottom: 18px;
}
.our-service p {
  display: inline-block;
  justify-content: center;
  text-align: center;
  max-width: 791px;
  margin-bottom: 110px;
}
.srv-card {
  margin-left: 22px;
}
.srv-card-title {
  display: flex;
  align-items: center;
  margin-bottom: 86px;
}
.srv-card-title h4 {
  max-width: 180px;
  margin-right: 40px;
  text-transform: uppercase;
}
.srv-card-title img {
  width: 37px;
  height: 37px;
}
.srv-card-title img:hover {
  transform: scale(1.1);
}

/* ------- */
/* Our best results */
.our-result {
  padding-bottom: 160px;
}
.our-result-cont {
  justify-content: center;
  text-align: center;
}
.our-result-cont h2 {
  margin-bottom: 18px;
}
.title-p {
  display: inline-block;
  justify-content: center;
  text-align: center;
  max-width: 520px;
  margin-bottom: 100px;
}
.our-result .valu-item p {
  margin-bottom: 22px;
  text-transform: uppercase;
}

/* --------- */
/* footers section */

.footer {
  padding-bottom: 36px;
}
.footer-about {
  padding-left: 60px;
}
.footer-title {
  font-family: "Metropolis";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.46;
  color: var(--text-color-dark2);
  margin-bottom: 22px;
}
.footer-about p {
  margin-bottom: 14px;
  font-size: 14px;
}
.social-i a {
  margin-right: 12px;
  font-size: 24px;
}
.footer-Product {
  padding-left: 60px;
}
.footer-Product a {
  font-family: "Metropolis";
  font-size: 14px;
  font-style: 500;
  line-height: 1.56;
  color: var(--text-color-light);
  margin: 0 0 16px;
  transition: all 0.3s ease-in-out;
}
.footer-Product a:hover {
  color: var(--cta-image);
}
.footer-Product li {
  padding-bottom: 12px;
}
.footer-Phone {
  display: flex;
  align-items: center;
  font-family: "Metropolis";
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  padding-left: 70px;
  padding-top: 50%;
}

.footer-Phone img {
  margin-right: 16px;
}
.footer-Phone img:hover {
  transform: scale(1.1);
}
.footer-Phone span {
  font-size: 18px;
}
